<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key> NSLocationWhenInUseUsageDescription</key>
	<string>현재 위치를 이용하려면 위치 접근 권한을 허용해야 합니다</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>디쉬나우</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.01</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>fb341578776721580</string>
				<string>kakao7de09f46628e492617c2151ee2933872</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>naverlogin</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>naverlogin</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>2</string>
	<key>FacebookAppID</key>
	<string>341578776721580</string>
	<key>FacebookDisplayName</key>
	<string>dishnow</string>
	<key>KAKAO_APP_KEY</key>
	<string>7de09f46628e492617c2151ee2933872</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>fbapi</string>
		<string>fb-messenger-api</string>
		<string>fbauth2</string>
		<string>fbshareextension</string>
		<string>kakao5fd512ec1b08bf6a6e785b1813c1f49d</string>
		<string>kakaokompassauth</string>
		<string>naversearchapp</string>
		<string>naversearchthirdlogin</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
		<key>NSExceptionDomains</key>
		<dict>
			<key>localhost</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>NSCameraUsageDescription</key>
	<string>사진을 사용하려면 카메라 접근 권한을 허용해야 합니다</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>사용자의 위치에 접근 하기 위하여 위치 권한을 허용해야 합니다.</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>사진을 사용하려면 사진첩 접근 권한을 허용해야 합니다</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>사진을 사용하려면 사진첩 접근 권한을 허용해야 합니다</string>
	<key>UIAppFonts</key>
	<array>
		<string>NanumSquareOTFBold.otf</string>
		<string>NanumSquareOTFExtraBold.otf</string>
		<string>NanumSquareOTFLight.otf</string>
		<string>NanumSquareOTFRegular.otf</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
</dict>
</plist>
